{% load static %}

<footer class="main-footer">
    <div class="info">
        <div class="open-hours">
            <h1>Opening Hours</h1>
            <h3>Monday: {{ preferences.Contact.monday_opening_time }} - {{ preferences.Contact.monday_closing_time }}</h3>
            <h3>Tuesday: {{ preferences.Contact.tuesday_opening_time }} - {{ preferences.Contact.tuesday_closing_time }}</h3>
            <h3>Wednesday: {{ preferences.Contact.wednesday_opening_time }} - {{ preferences.Contact.wednesday_closing_time }}</h3>
            <h3>Thursday: {{ preferences.Contact.thursday_opening_time }} - {{ preferences.Contact.thursday_closing_time }}</h3>
            <h3>Friday: {{ preferences.Contact.friday_opening_time }} - {{ preferences.Contact.friday_closing_time }}</h3>
            <h3>Saturday: {{ preferences.Contact.saturday_opening_time }} - {{ preferences.Contact.saturday_closing_time }}</h3>
            <h3>Sunday: {{ preferences.Contact.sunday_opening_time }} - {{ preferences.Contact.sunday_closing_time }}</h3>
        </div>

        <div class="footer__logo">
            <img src="{% static 'images/logo.png' %}" alt="LOGO" width="370" height="370">
        </div>

        <div class="divider"></div>

        <nav>
            <ul class="main-footer__links">
                <li class="main-footer__link">
                    <a href="#">Privacy Policy</a>
                </li>
                <li class="main-footer__link">
                    <a href="#">Terms of Use</a>
                </li>
            </ul>
        </nav>
    </div>

    <h1 class="copyright">&copy; 2021 Copyright. All rights reserved.</h1>
</footer>