{% load static %}

<div class="backdrop"></div>
<header class="main-header">
    {% comment %} Hamburger Menu {% endcomment %}
    <button class="toggle-button">
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
    </button>

    <div class="brand">
        <img src="" alt="LOGO" width="50px" height="50px">
    </div>

    <div class="nav__actions">
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li 
                {% if 'party' in reqest.path %}
                    class="main-nav__item active"
                {% else %} 
                    class="main-nav__item"
                {% endif %}
                    >
                    <a href="#">Party Menu</a>
                </li>
            </ul>
        </nav>

        <button type="button" class="btn btn-order">
            Order Now!
        </button>
    </div>
</header>
<nav class="mobile-nav">
    <ul class="mobile-nav__items">
        <li class="mobile-nav__item">
            <a href="#">Party Menu</a>
        </li>
    </ul>
</nav>