{% load static %}

<div class="backdrop"></div>
<header class="main-header">
    {% comment %} Hamburger Menu {% endcomment %}
    <button class="toggle-button">
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
    </button>

    <div class="brand">
        <img src="{% static 'images/logo.png' %}" alt="LOGO" width="70" height="70">

        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a
                        {% if '/' == request.path %}
                            class="active"
                        {% endif %}
                        href="{% url 'index' %}">
                        Home
                    </a>
                </li>
                <li class="main-nav__item">
                    <a
                        {% if 'party' in request.path %}
                            class="active"
                        {% endif %}
                        href="{% url 'index' %}">
                        Party Menu
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="nav__actions">
        <button type="button" class="btn btn-order">
            Order Now!
        </button>
    </div>
</header>
<nav class="mobile-nav">
    <div class="nav__image">
        <img src="{% static 'images/logo.png' %}" alt="LOGO" width="200" height="200">
    </div>
    <ul class="mobile-nav__items">
        <li class="mobile-nav__item">
            <a
                {% if '/' == request.path %}
                    class="active"
                {% endif %}
                href="{% url 'index' %}">
                Home
            </a>
        </li>
        <li class="mobile-nav__item">
            <a
                {% if 'party' in request.path %}
                    class="active"
                {% endif %}
                href="{% url 'index' %}">
                Party Menu
            </a>
        </li>
    </ul>
</nav>