{% extends 'base.html' %} 
{% load static %}
{% block content %}
<main>
    <section class="brand__presentation">
        <h1>La Villetta Trattoria</h1>
    </section>

    <section class="bio">
        <div class="bio__img">
            <img src="{% static 'images/bio.jpg' %}" alt="BioImg" height="500" width="350">
        </div>
        <div class="bio__desc">
            <h2>Name and Lastname</h2>
            <div class="bio__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aut totam architecto iusto blanditiis maxime enim obcaecati, accusantium, nesciunt quibusdam omnis magnam consequatur porro consectetur repudiandae reiciendis molestias. Veritatis, in!
            </div>
        </div>
    </section>

    {% if specials %}
    
    <section class="specials">
        <h1>Specials Menu</h1>
        {% for special in specials %}

        <div class="menu-item">
            <div class="menu-item__info">
                <h2>{{ special.name }} - ${{ special.price }}</h2>
                <h3>{{ special.description }}</h3>
            </div>
            <div class="menu-item__image">
                <img src="{{ special.image.url }}" alt="SpecialImg" class="menu-item__img" height="300" width="300">
            </div>
        </div>

        {% endfor %}
    </section>

    {% else %}
    
    <section class="empty">
        <h1>No Specials available at this time</h1>
    </section>

    {% endif %}

    {% if  plates %}
    <section class="regulars">
        <h1>Menu</h1>

        {% if  plates.antipasti %}
        <div class="course-title">Antipasto</div>
        {% for plate in plates.antipasti %}

        <div class="menu-item">
            <div class="menu-item__info">
                <h2>{{ plate.name }} - ${{ plate.price }}</h2>
                <h3>{{ plate.description }}</h3>
            </div>
            <div class="menu-item__image">
                <img src="{{ plate.image.url }}" alt="PlateImg" class="menu-item__img" height="300" width="300">
            </div>
        </div>

        {% endfor %}
        {% endif %}

        {% if  plates.primi %}
        <div class="course-title">Primi</div>
        {% for plate in plates.primi %}

        <div class="menu-item">
            <div class="menu-item__info">
                <h2>{{ plate.name }} - ${{ plate.price }}</h2>
                <h3>{{ plate.description }}</h3>
            </div>
            <div class="menu-item__image">
                <img src="{{ plate.image.url }}" alt="PlateImg" class="menu-item__img" height="300" width="300">
            </div>
        </div>

        {% endfor %}
        {% endif %}


        {% if  plates.secondi %}
        <div class="course-title">Secondo</div>
        {% for plate in plates.secondi %}

        <div class="menu-item">
            <div class="menu-item__info">
                <h2>{{ plate.name }} - ${{ plate.price }}</h2>
                <h3>{{ plate.description }}</h3>
            </div>
            <div class="menu-item__image">
                <img src="{{ plate.image.url }}" alt="PlateImg" class="menu-item__img" height="300" width="300">
            </div>
        </div>

        {% endfor %}
        {% endif %}

        {% if  plates.pizze %}
        <div class="course-title">Pizza</div>
        {% for plate in plates.pizze %}

        <div class="menu-item">
            <div class="menu-item__info">
                <h2>{{ plate.name }} - ${{ plate.price }}</h2>
                <h3>{{ plate.description }}</h3>
            </div>
            <div class="menu-item__image">
                <img src="{{ plate.image.url }}" alt="PlateImg" class="menu-item__img" height="300" width="300">
            </div>
        </div>

        {% endfor %}
        {% endif %}

        {% if  plates.desserts %}
        <div class="course-title">Dessert</div>
        {% for plate in plates.desserts %}

        <div class="menu-item">
            <div class="menu-item__info">
                <h2>{{ plate.name }} - ${{ plate.price }}</h2>
                <h3>{{ plate.description }}</h3>
            </div>
            <div class="menu-item__image">
                <img src="{{ plate.image.url }}" alt="PlateImg" class="menu-item__img" height="300" width="300">
            </div>
        </div>

        {% endfor %}
        {% endif %}

        {% if  plates.beverages %}
        <div class="course-title">Beverage</div>
        {% for plate in plates.beverages %}

        <div class="menu-item">
            <div class="menu-item__info">
                <h2>{{ plate.name }} - ${{ plate.price }}</h2>
                <h3>{{ plate.description }}</h3>
            </div>
            <div class="menu-item__image">
                <img src="{{ plate.image.url }}" alt="PlateImg" class="menu-item__img" height="300" width="300">
            </div>
        </div>

        {% endfor %}
        {% endif %}
    </section>

    {% else %}

    <section class="empty">
        <h1>No items on the menu at this time</h1>
    </section>

    {% endif %}

    <div class="extra-bg">
    </div>

    <section class="contact">
        <h1>Contact</h1>
        <div class="divider"></div>
        <h3><a href="tel:{{ preferences.Contact.telephone_number }}">{{ preferences.Contact.telephone_number }}</a></h3>
        <h3><a href="mailto:{{ preferences.Contact.email }}">{{ preferences.Contact.email }}</a></h3>
        <h3><a href="http://" target="_blank" rel="noopener noreferrer">{{ preferences.Contact.address }}</a></h3>
        <div class="social">
            <a href="{{ preferences.Contact.facebook_link }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
            <a href="{{ preferences.Contact.instagram_link }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram-square"></i></a>
        </div>
    </section>
</main>
{% endblock content %}
