{% extends 'base.html' %} 
{% block content %}
<main>
    <section class="brand__presentation">
        <h1>La Villetta Trattoria</h1>
    </section>

    <section class="bio">
        <div class="bio__img">
            <img src="" alt="BioImg">
        </div>
        <div class="bio__desc">
            <h2>Name and Lastname</h2>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aut totam architecto iusto blanditiis maxime enim obcaecati, accusantium, nesciunt quibusdam omnis magnam consequatur porro consectetur repudiandae reiciendis molestias. Veritatis, in!
            </div>
        </div>
    </section>

    <section class="specials">
        <h1>Specials Menu</h1>
        <div class="menu-item">
            <div class="menu-item__info">
                <h2>Special Name - Price</h2>
                <h3>Description</h3>
            </div>
            <div class="menu-item__image">
                <img src="" alt="SpecialImg" class="menu-item__img">
            </div>
        </div>

        <div class="menu-item">
            <div class="menu-item__info">
                <h2>Special Name - Price</h2>
                <h3>Description</h3>
            </div>
            <div class="menu-item__image">
                <img src="" alt="SpecialImg" class="menu-item__img">
            </div>
        </div>
    </section>

    <section class="regulars">
        <h1>Menu</h1>
        <div class="menu-item">
            <div class="menu-item__info">
                <h2>Plate Name - Price</h2>
                <h3>Description</h3>
            </div>
            <div class="menu-item__image">
                <img src="" alt="PlateImg" class="menu-item__img">
            </div>
        </div>

        <div class="menu-item">
            <div class="menu-item__info">
                <h2>Plate Name - Price</h2>
                <h3>Description</h3>
            </div>
            <div class="menu-item__image">
                <img src="" alt="PlateImg" class="menu-item__img">
            </div>
        </div>
    </section>

    <section class="contact">
        <h1>Contact</h1>
        <div class="divider"></div>
        <h3>Tel: +1 4165558888</h3>
        <h3>Email: email@email.com</h3>
        <h3>Address</h3>
        <div class="social">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram-square"></i>
        </div>
    </section>
</main>
{% endblock content %}
