{% extends 'base.html' %} 
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock styles %}

{% block content %}
<main>
    {% if specials %}
    
    <section class="specials ord-section">
        <h1>Specials Menu</h1>
        {% for special in specials %}

        <div class="order-item">
            <div class="order-item__wrapper">
                <div class="order-item__info">
                    <h2>{{ special.name }}</h2>
                    <h3>{{ special.description }}</h3>
                    <h2>${{ special.price }}</h2>
                </div>
                <div class="order-item__image">
                    <img src="{{ special.image.url }}" alt="SpecialImg" class="order-item__img" height="100" width="100">
                </div>
            </div>

            <div class="order-item__actions">
                <button class="btn btn-add">Add to Order</button>
                <div class="order-item__qty">
                    <button class="btn btn-dec">
                        <i class="fas fa-minus"></i>
                    </button>
                    <span class="qty">1</span>
                    <button class="btn btn-inc">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>

        {% if forloop.counter < specials.count %}
        <div class="item-divider">
            <div class="line-sx"></div>
            <div class="center"></div>
            <div class="line-dx"></div>
        </div>
        {% endif %}

        {% endfor %}
    </section>

    {% endif %}

    {% if  dishes.qty > 0 %}
    <section class="regulars ord-section">
        <h1>Menu</h1>

        {% if  dishes.antipasti %}
        <div class="course-title">Antipasto</div>
        {% for dish in dishes.antipasti %}

        <div class="order-item">
            <div class="order-item__info">
                <h2>{{ dish.name }}</h2>
                <h3>{{ dish.description }}</h3>
                <h2>${{ dish.price }}</h2>
            </div>
            <div class="order-item__image">
                <img src="{{ dish.image.url }}" alt="dishImg" class="order-item__img" height="100" width="100">
            </div>
        </div>

        {% if forloop.counter < dishes.antipasti.count %}
        <div class="item-divider">
            <div class="line-sx"></div>
            <div class="center"></div>
            <div class="line-dx"></div>
        </div>
        {% endif %}

        {% endfor %}
        {% endif %}

        {% if  dishes.primi %}
        <div class="course-title">Primo</div>
        {% for dish in dishes.primi %}

        <div class="order-item">
            <div class="order-item__info">
                <h2>{{ dish.name }}</h2>
                <h3>{{ dish.description }}</h3>
                <h2>${{ dish.price }}</h2>
            </div>
            <div class="order-item__image">
                <img src="{{ dish.image.url }}" alt="dishImg" class="order-item__img" height="100" width="100">
            </div>
        </div>

        {% if forloop.counter < dishes.primi.count %}
        <div class="item-divider">
            <div class="line-sx"></div>
            <div class="center"></div>
            <div class="line-dx"></div>
        </div>
        {% endif %}

        {% endfor %}
        {% endif %}


        {% if  dishes.secondi %}
        <div class="course-title">Secondo</div>
        {% for dish in dishes.secondi %}

        <div class="order-item">
            <div class="order-item__info">
                <h2>{{ dish.name }}</h2>
                <h3>{{ dish.description }}</h3>
                <h2>${{ dish.price }}</h2>
            </div>
            <div class="order-item__image">
                <img src="{{ dish.image.url }}" alt="dishImg" class="order-item__img" height="100" width="100">
            </div>
        </div>

        {% if forloop.counter < dishes.secondi.count %}
        <div class="item-divider">
            <div class="line-sx"></div>
            <div class="center"></div>
            <div class="line-dx"></div>
        </div>
        {% endif %}

        {% endfor %}
        {% endif %}

        {% if  dishes.pizze %}
        <div class="course-title">Pizza</div>
        {% for dish in dishes.pizze %}

        <div class="order-item">
            <div class="order-item__info">
                <h2>{{ dish.name }}</h2>
                <h3>{{ dish.description }}</h3>
                <h2>${{ dish.price }}</h2>
            </div>
            <div class="order-item__image">
                <img src="{{ dish.image.url }}" alt="dishImg" class="order-item__img" height="100" width="100">
            </div>
        </div>

        {% if forloop.counter < dishes.pizze.count %}
        <div class="item-divider">
            <div class="line-sx"></div>
            <div class="center"></div>
            <div class="line-dx"></div>
        </div>
        {% endif %}

        {% endfor %}
        {% endif %}

        {% if  dishes.desserts %}
        <div class="course-title">Dessert</div>
        {% for dish in dishes.desserts %}

        <div class="order-item">
            <div class="order-item__info">
                <h2>{{ dish.name }}</h2>
                <h3>{{ dish.description }}</h3>
                <h2>${{ dish.price }}</h2>
            </div>
            <div class="order-item__image">
                <img src="{{ dish.image.url }}" alt="dishImg" class="order-item__img" height="100" width="100">
            </div>
        </div>

        {% if forloop.counter < dishes.desserts.count %}
        <div class="item-divider">
            <div class="line-sx"></div>
            <div class="center"></div>
            <div class="line-dx"></div>
        </div>
        {% endif %}

        {% endfor %}
        {% endif %}

        {% if  dishes.beverages %}
        <div class="course-title">Beverage</div>
        {% for dish in dishes.beverages %}

        <div class="order-item">
            <div class="order-item__info">
                <h2>{{ dish.name }}</h2>
                <h3>{{ dish.description }}</h3>
                <h2>${{ dish.price }}</h2>

            </div>
            <div class="order-item__image">
                <img src="{{ dish.image.url }}" alt="dishImg" class="order-item__img" height="100" width="100">
            </div>
        </div>

        {% if forloop.counter < dishes.beverages.count %}
        <div class="item-divider">
            <div class="line-sx"></div>
            <div class="center"></div>
            <div class="line-dx"></div>
        </div>
        {% endif %}

        {% endfor %}
        {% endif %}
    </section>
    {% endif %}
</main>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/order.js' %}"></script>
{% endblock scripts %}


