.main-header {
  width: 100%;
  height: 5rem;
  background-color: #fffdd0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: none;
}

.brand > img {
  margin-right: 0.5rem;
  border-radius: 5px;
}

.nav__actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-nav {
  display: none;
}

.main-nav__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav__item {
  padding: 1.1rem;
}

.main-nav__item > a {
  color: #083995;
  font-weight: bold;
  font-size: 1.2rem;
}

.mobile-nav {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms ease-in;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: #fffdd0;
  width: 80%;
  height: 110vh;
  position: relative;
}

.nav__image {
  position: absolute;
  top: 12%;
  left: 20%;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item > a {
  font-size: 1.5rem;
  color: #083995;
  font-weight: bold;
}

.main-nav__item a:hover,
.main-nav__item a:active,
.active {
  color: #d0e025;
  border-bottom: 2px #d0e025 solid;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: #083995;
  display: block;
  margin: 0.6rem 0;
}

.btn-order {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #d0e025;
  background-color: #083995;
  border-radius: 15px;
  margin: 1rem;
  font-size: 1rem;
  width: auto;
}

@media (min-width: 55rem) {
  .main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .toggle-button {
    display: none;
  }

  .brand {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
}
