@font-face {
  font-family: "OleoScript";
  src: url("../fonts/OleoScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OleoScript";
  src: url("../fonts/OleoScript-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Tangerine";
  src: url("../fonts/Tangerine-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Tangerine";
  src: url("../fonts/Tangerine-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  padding-top: 5rem;
  font-family: "OleoScript", sans-serif, monospace;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas: "header" "main" "footer";
    padding-top: 0;
    height: 100vh;
    scroll-padding-top: 3.5rem;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 110vw;
  height: 110vh;
  background: #00000080;
  display: none;
  opacity: 0;
  transition: all 0.2s linear;
}

.modal {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 55%;
  border-radius: 15px;
  background-color: white;
  color: #083995;
  border: 3px solid #d0e025;
  padding: 0.5rem;
  z-index: 201;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.divider {
  height: 0.3rem;
  width: 80%;
  border-radius: 10px;
  margin: 0.3rem 0;
  background-color: white;
}

.empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  color: #083995;
  background-color: #fffdd0;
  text-align: center;
}

.main-header {
  grid-area: header;
}

main {
  grid-area: main;
}

.brand__presentation {
  background-color: #083995;
  color: #fffdd0;
  font-size: 2.7rem;
  text-align: center;
  height: 100vh;
  font-family: "Tangerine";
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../images/hook.jpg");

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.specials h2,
.specials h3,
.regulars h2,
.regulars h3 {
  color: #083995;
}

.bio__desc,
.specials,
.regulars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bio,
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  background-color: #fffdd0;
  width: 100%;
  flex-direction: column;
}

.bio__desc {
  width: 70%;
  color: #083995;
}

.bio__desc h2 {
  font-size: 3rem;
}

.bio__text {
  font-size: 1.5rem;
}

.specials h1,
.regulars h1 {
  font-family: "Tangerine";
  font-size: 5rem;
  color: #fffdd0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.course-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Tangerine";
  font-size: 3.8rem;
  background-color: #083995;
  height: 7rem;
}

.specials h1 {
  background-image: url("../images/special1.jpg");
}

.regulars h1 {
  background-image: url("../images/menu2.jpg");
}

.extra-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 20rem;
  background-image: url("../images/extra.jpg");
}

.menu-item__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  font: inherit;
  font-weight: bold;
  border-radius: 25px;
  background: transparent;
  width: 50%;
  cursor: pointer;
  margin: 2rem;
  padding: 1rem;
  border: none;
  text-align: center;
}

.contact {
  width: 100%;
  background-color: #083995;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.contact h1 {
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
}

.social {
  width: 30%;
  margin: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social i {
  font-size: 2.7rem;
  cursor: pointer;
}

.social i:hover {
  color: #fffdd0;
}

@media (min-width: 55rem) {
  .bio,
  .menu-item {
    flex-direction: row;
  }

  .menu-item__info {
    align-items: flex-start;
  }

  .brand__presentation {
    font-size: 5rem;
  }
}
