body {
  padding-top: 5rem;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas: "header" "main" "footer";
    padding-top: 0;
    height: 100vh;
    scroll-padding-top: 3.5rem;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: #00000080;
  display: none;
  opacity: 0;
  transition: all 0.2s linear;
}

.modal {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 55%;
  border-radius: 15px;
  background-color: white;
  color: #083995;
  border: 3px solid #d0e025;
  padding: 0.5rem;
  z-index: 201;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.divider {
  height: 0.3rem;
  width: 80%;
  border-radius: 10px;
  margin: 0.3rem 0;
  background-color: white;
}

.main-header {
  grid-area: header;
}

main {
  grid-area: main;
}

.brand__presentation {
  background-color: #083995;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bio__desc,
.specials,
.regulars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bio,
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  background-color: #fffdd0;
  width: 100%;
  flex-direction: column;
}

.bio__desc {
  width: 60%;
}

.menu-item__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  font: inherit;
  font-weight: bold;
  border-radius: 25px;
  background: transparent;
  width: 50%;
  cursor: pointer;
  margin: 2rem;
  padding: 1rem;
  border: none;
  text-align: center;
}

.contact {
  width: 100%;
  background-color: #083995;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.social {
  width: 30%;
  margin: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social i {
  font-size: 2.7rem;
  cursor: pointer;
}

.social i:hover {
  color: #fffdd0;
}

@media (min-width: 55rem) {
  .bio,
  .menu-item {
    flex-direction: row;
  }

  .menu-item__info {
    align-items: flex-start;
  }
}
